In [2]:
#importing car_dataset for cleaning
import numpy as np
import pandas as pd
df=pd.read_csv("C:/Users/Rafi/Downloads/Car_data.csv")
print(df)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

In [3]:
#check total no. of null values in each column
print(df.isnull().sum())

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [4]:
duplicate_rows=df[df.duplicated(keep=False)]
print(duplicate_rows)

         Make     Model  Year             Engine Fuel Type  Engine HP  \
11        BMW  1 Series  2013  premium unleaded (required)      230.0
14        BMW  1 Series  2013  premium unleaded (required)      230.0
17       Audi       100  1992             regular unleaded      172.0
18       Audi       100  1992             regular unleaded      172.0
20       Audi       100  1992             regular unleaded      172.0
...       ...       ...   ...                          ...        ...
11604   Volvo      XC60  2017             regular unleaded      240.0
11707  Suzuki       XL7  2008             regular unleaded      252.0
11708  Suzuki       XL7  2008             regular unleaded      252.0
11709  Suzuki       XL7  2008             regular unleaded      252.0
11717  Suzuki       XL7  2008             regular unleaded      252.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
11                  6.0            MANUAL   rear wheel drive              2.0
14                  6.0            MANUAL   rear wheel drive              2.0
17                  6.0            MANUAL  front wheel drive              4.0
18                  6.0            MANUAL  front wheel drive              4.0
20                  6.0            MANUAL  front wheel drive              4.0
...                 ...               ...                ...              ...
11604               4.0         AUTOMATIC  front wheel drive              4.0
11707               6.0         AUTOMATIC    all wheel drive              4.0
11708               6.0         AUTOMATIC    all wheel drive              4.0
11709               6.0         AUTOMATIC  front wheel drive              4.0
11717               6.0         AUTOMATIC  front wheel drive              4.0

          Market Category Vehicle Size Vehicle Style  highway MPG  city mpg  \
11     Luxury,Performance      Compact         Coupe           28        19
14     Luxury,Performance      Compact         Coupe           28        19
17                 Luxury      Midsize         Sedan           24        17
18                 Luxury      Midsize         Sedan           24        17
20                 Luxury      Midsize         Sedan           24        17
...                   ...          ...           ...          ...       ...
11604    Crossover,Luxury      Midsize       4dr SUV           30        23
11707           Crossover      Midsize       4dr SUV           22        15
11708           Crossover      Midsize       4dr SUV           22        15
11709           Crossover      Midsize       4dr SUV           22        16
11717           Crossover      Midsize       4dr SUV           22        16

       Popularity   MSRP
11           3916  31500
14           3916  31500
17           3105   2000
18           3105   2000
20           3105   2000
...           ...    ...
11604         870  40950
11707         481  29149
11708         481  29149
11709         481  27499
11717         481  27499

[1332 rows x 16 columns]

In [5]:
df1=df.drop_duplicates()
print(df1)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11199 rows x 16 columns]

In [6]:
df1.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3376
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [ ]:
#replacing null values in "Engine Fuel Type" by column's MODE value
df1['Engine Fuel Type']=df1['Engine Fuel Type'].replace(np.nan,df1['Engine Fuel Type'].mode()[0])
#replacing null values in "Engine HP" by column's MEAN value
df1['Engine HP']=df1['Engine HP'].replace(np.nan,df1['Engine HP'].mean())
#replacing null values in "Engine Cylinders" by column's MEAN integer value
df1['Engine Cylinders']=df1['Engine Cylinders'].replace(np.nan,int(df1['Engine Cylinders'].mean()))
#replacing null values in "Number of Doors" by column's MEAN integer value
df1['Number of Doors']=df1['Number of Doors'].replace(np.nan,int(df1['Number of Doors'].mean()))
#here in column "Market Category" there are cells having values "N/A" 
#which is consider as null by python so we replace "N/A" by "UNKNOWN"
df1['Market Category']=df1['Market Category'].replace(np.nan,"UNKNOWN")

In [8]:
df1.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [9]:
#exporting our cleaned Car_dataset in .xlsx format
df1.to_excel("C:/Users/Rafi/Downloads/Car_data.xlsx")